<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi iusto
    dolores, quia sit aliquid voluptatem fuga, ipsa eaque aut, sint facilis
    rerum. Molestias, incidunt doloribus autem ex libero ab obcaecati.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary quote--line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </span>
      </div>
      <div class="media__body quote__body">
        <h3 class="media__title quote__author">usman shabbir</h3>
        <p class="quote__company">awsome developer</p>
      </div>
    </div>
  </footer>
</blockquote>
