<section class="block container block--domain">
  <header class="block__header">
    <h2>Staring at $9 per Month</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, odio?</p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list list--domain__price">
    <li>.com $9</li>
    <li class="badge badge--secondary badge--domain">.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
